# Go binary, test files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories
vendor/
node_modules/
build/

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE/Editor folders
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Frontend build artifacts
/frontend/build/
/frontend/.env
/frontend/node_modules/
